{% extends "_base.html" %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="static/css/plantuml.css">
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="static/js/plantuml.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <textarea id="plantuml-input">Text editor</textarea>
        </div>
        <div class="col">
            <div id="plantuml-output">
                Preview
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button id="plantuml-submit">Generate</button>
        </div>
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}
